.AilosViaCrediButton {
  color: rgb(22, 92, 125);
  font-weight: bold;
  border: 2px solid rgb(22, 92, 125);
  border-radius: 1rem;
  padding: 4px 16px;
}

.bell {
  color: rgb(22, 92, 125);
  font-size: 36px;
}


