<div class="h-screen flex flex-col w-20 items-center">
  <img src="../../../assets/logo.png" alt="Ailos Logotipo" class="w-16 mb-8 mt-4">
  <span class="material-icons text-gray-400 mb-8">menu</span>
  <span class="material-icons text-white mb-8">search</span>
  <span class="material-icons-outlined text-white mb-8">star_border</span>
  <span class="material-icons-outlined text-white mb-8">chat</span>
  <span class="material-icons-outlined text-white mb-8">display_settings</span>
  <img src="../../../assets/bank.png" alt="Bank Icon" class="w-6 mb-8">
</div>
